<form method="post" action="{{ action }}" onsubmit="return confirm('{{ question }}');">
    <input type="hidden" name="_token" value="{{ token_key }}">
    <button class="{{ btn_class|default('btn btn-outline-danger btn-sm') }}">{{ caption }}</button>
</form>
