{% extends 'base.html.twig' %}

{% block title %}Редактировать книгу{% endblock %}

{% block body %}
    <style>
        .book-image {
            max-width: 150px;
            text-align: center;
            margin: 0 15px 0 0;
        }
    </style>

    <div class="container">
        <h1>Редактировать книгу</h1>

        <ul>
            <li>Аналогично созданию,</li>
            <li>только в форме отображаются текущие данные по книге, которые можно изменить.</li>
            <li>Файлы обложки и книги в режиме редактирования можно удалить.</li>
        </ul>

        <div class="text-end mb-3">
            <a class="btn btn-outline-success" href="{{ path('book_new') }}">Добавить книгу</a>
            <a class="btn btn-outline-secondary" href="{{ path('book_index') }}">Отмена</a>

            <div class="d-inline-block">
                {{ include('book/_delete_form.html.twig', {
                    'action': path('book_delete', {'id': book.id}),
                    'token_key': csrf_token("delete-#{book.id}"),
                    'question': 'Удалить книгу?',
                    'caption': 'Удалить',
                    'btn_class': 'btn btn-outline-danger',
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="book-image mb-4">
                    {% if book.cover %}
                        <img class="w-100" src="{{ asset(book.cover|image_thumb(150)) }}">

                        {{ include('book/_delete_form.html.twig', {
                            'action': path('book_delete_cover', {'id': book.id}),
                            'token_key': csrf_token("delete_cover-#{book.id}"),
                            'question': 'Удалить обложку?',
                            'caption': 'Удалить обложку',
                        }) }}
                    {% endif %}
                </div>

                <div>
                    {% if book.file %}
                        <div class="mb-2">
                            <div class="badge bg-secondary">{{ book.file }}</div>
                            <a href="/{{ book.file }}">Скачать</a>
                        </div>

                        {{ include('book/_delete_form.html.twig', {
                            'action': path('book_delete_file', {'id': book.id}),
                            'token_key': csrf_token("delete_file-#{book.id}"),
                            'question': 'Удалить файл книги?',
                            'caption': 'Удалить файл книги',
                        }) }}
                    {% endif %}
                </div>
            </div>
            <div class="col-8">
                {{ include('book/_form.html.twig', {
                    'book': book,
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
