{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}
    <style>
        .book-image--list {
            max-width: 50px;
        }
        .book-image--empty {
            opacity: .4
        }
    </style>

    <div class="container">
        <h1>Список книг</h1>

        <div class="row">
            <div class="col-6">
                <b>Неавторизованный режим</b>
                <ul>
                    <li>Выводим список книг в порядке прочтения с указанием названия, автора и обложки,</li>
                    <li>а также ссылка на скачивание, если она разрешена для книги.</li>
                    <li>Предусмотреть кеширование запроса получения списка книг на 24 часа.</li>
                    <li>При редактировании/добавлении книги кеш должен сбрасываться.</li>
                </ul>
            </div>
            <div class="col-6">
                <b>Авторизованный режим</b>
                <ul>
                    <li>У каждой книги кроме описанного выше выводится ссылка Редактировать.</li>
                    <li>Также в начале страницы выводится ссылка Добавить книгу.</li>
                </ul>
            </div>
        </div>

        <p>
            <a class="btn btn-outline-success" href="{{ path('book_new') }}">Добавить книгу</a>
        </p>

        <table class="table align-middle caption-top">
            <caption>Всего книг: {{ books|length }}</caption>
            <thead>
                <tr>
                    <td></td>
{#                    <th>ID</th>#}
                    <th>Обложка</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Файл</th>
                    <th>Дата прочтения</th>
{#                    <th>Доступно для скачивания</th>#}
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ loop.index }}</td>
{#                    <td>{{ book.id }}</td>#}
                    <td>
                        {% if book.cover  %}
                            <img class="book-image book-image--list" src="{{ asset("#{dir_upload}/#{book.getCoverPath()}") }}">
                        {% else %}
                            <img class="book-image book-image--list book-image--empty" src="{{ asset('images/book-default.png') }}">
                        {% endif %}
                    </td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>
                        {% if book.file and book.isDownload %}
                            <a href="{{ asset("#{dir_upload}/#{book.getFilePath()}") }}">Скачать</a>
                        {% endif %}
                    </td>
                    <td>{{ book.dateRead ? book.dateRead|date('d.m.Y') : '' }}</td>
{#                    <td class="{{ book.isDownload ? 'text-success' : 'text-danger' }}">{{ book.isDownload ? 'Да' : 'Нет' }}</td>#}
                    <td>
                        <a class="btn btn-outline-warning btn-sm" href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>

                        <div class="d-inline-block">
                            {{ include('book/_delete_form.html.twig', {
                                'action': path('book_delete', {'id': book.id}),
                                'token_key': csrf_token("delete-#{book.id}"),
                                'question': 'Удалить книгу?',
                                'caption': 'Удалить',
                            }) }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Нет записей</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
